<template name="addOrderForm">
    <div class="modal fade" tabindex="-1" role="dialog" id="orderModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Make Order</h4>
                    </div>
                    <div class="modal-body">

                            <ul class="list-group">
                                {{#each menuItems}}
                                    {{> menuItemForOrder}}
                                {{/each}}
                            </ul>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<template name="menuItemForOrder">
    <li class="list-group-item"><input type="checkbox" value="{{_id}}" /> {{title}}: ${{price}} <input name="{{_id}}-count" type="number" value="1" /></li>
</template>